body{
    font-family:"Times New Roman", sans-serif, "Geneva";
    font-size: 24px;
    background-color: rgb(0, 0, 0);
    color:white;
}
a{
    display:block;
    margin:10px;
    color:aquamarine;
}
img{
    margin:0 500px;
    text-align: center;
    height:auto;
    width:800px;
    border:2px solid salmon;
}
div{
    padding-left: 40px;
}
li{
    margin:10px auto;
}